@model IEnumerable<BusinessObjects.Campaign>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idStateCampaign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urlImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idStateCampaign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urlImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCampaign }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCampaign }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCampaign })
        </td>
    </tr>
}

</table>
