@model IEnumerable<BusinessObjects.Product>

@{
    ViewBag.Title = "Administración de productos";
}

<h2>Administración de productos</h2>

<div class="row">
    <div class="navbar-form navbar-right" role="form">
        <div class="btn-group" role="group">
            <a data-toggle="tooltip" title="Crear" class="btn btn-primary" href=@Url.Action("Create")><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
</div>
<table class="table" id="productsList">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idProduct }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idProduct }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idProduct })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#productsList").DataTable();
    })
</script>