@model IEnumerable<BusinessObjects.Product>

@{
    ViewBag.Title = "Administración de productos";
}

<h2>Administración de productos</h2>

<p>
    <a data-toggle="tooltip" title="Crear" class="btn btn-primary" href=@Url.Action("Create")><span class="glyphicon glyphicon-plus"></span></a>
</p>
<table class="table" id="productsList">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>

                <td>
                    @*<a data-toggle="tooltip" title="Editar" class="btn btn-sm btn-success" href=@Url.Action("Edit", new x{ Id = item.idProduct })><span class="glyphicon glyphicon-cog"></span></a>*@
                    <a data-toggle="tooltip" title="Editar" class="btn btn-sm btn-success" onclick="LoadModal('@Url.Action("Edit", new { IdGnVigilado = ViewBag.Id, Id = item.idProduct})')"><span class="glyphicon glyphicon-cog"></span></a>
                    
                    <a data-toggle="tooltip" title="Eliminar" class="btn btn-sm btn-danger" onClick="LoadModal('@Url.Action("Delete", new { Id = item.idProduct})')"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#productsList").DataTable();
    })
    function LoadModal(url) {
        $("#ModalUser").load(url + '&Token=' + new Date().getTime(), function () {
            $("#ModalUser").modal("show");
        });
    }
</script>