@using LoginObjects
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar Sesión";
}

<div class="row">
    <div class="col-md-6">
        <h3>@ViewBag.Title</h3>
        <hr />
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-6">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-6">
                        <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
                    </div>
                </div>
                
            }
        </section>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#UserInfo").hide();
        });

        var OnSuccess = function (data) {
            console.log(data);
            if (data.success) {
                $("#UserInfo").show();
                $("#Username").val(data.username);
                $("#NitEnvio").val(data.username);
                $("#Email").val(data.email);
            }
        };

        var OnSuccessEnvio = function (data) {
            console.log(data);
            if (data.success) {
                $("#Message").text(data.message);
            }
        };

        var OnFailure = function (data) {
            console.log(data);
        };
    </script>
}